.m-t-md {
    margin-top: 0px;
    float: right;
}
ul.breadcrumb li a {
    color: #FF9C6E;
}
/** jquery chosen start **/
.chosen-container .chosen-drop {
    border: 1px solid #1ab394;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
    border: 1px solid #e5e6e7;
}

.chosen-container-active.chosen-with-drop .chosen-single{
    border: 1px solid #1ab394;
}

.chosen-container-single .chosen-single span{
    line-height: 28px;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #e5e6e7;
}

.chosen-container-multi{
    border: 1px solid #e5e6e7;
    height: 34px;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #FF9C6E;
}

.chosen-container-multi .chosen-choices {
    border: 1px solid #FF9C6E;
}
/** jquery chosen end **/

/** search start **/
.search form div .help-block{
    position: absolute;
    top:4px;
    right: 4%;
}
.search form>div.col-sm-3{
    margin-bottom: 5px;
}
/** search end **/

/* diy */
form.form-horizontal {
    overflow: hidden;
    padding: 20px 0 15px;
}
.test-search .form-group {
    margin-bottom: 0;
}
.ibox-content>.form-horizontal  {
    padding-top: 20px;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding: 7px 0;
        font-weight: 400;
        line-height: 19px;
        font-size: 12px;
        color: #ccc;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.search-btn-group {
    border-top: 2px solid #fff;
    padding-top: 0;
    clear: both;
    text-align: right;
    padding-right: 30px;
}
.search-btn-group.single {
    padding: 20px;
}
.search-btn-group.col-sm-3,
.search-btn-group.col-sm-6,
.search-btn-group.col-sm-9 {
    padding-right: 15px;
    padding-left: 15px;
    clear: none;
}
.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
    font-size: 12px !important;
}
.table>tbody>tr>td {
    border-top: none !important;
    border-bottom: 1px solid #f6f6f6 !important;
}
.table>tbody>tr>td:first-child,
.table>thead>tr>th:first-child {
    padding-left: 40px;
}
.table>tbody>tr>td.checkbox-sub,
.table>thead>tr>th.checkbox-sub {
    text-align: center;
    padding-left: 8px;
}
.table>tbody>tr>td,
.table>thead>tr>th {
    max-width: 200px
}
.table>thead>tr>th {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.form-horizontal .col-sm-8 {
    padding-right: 0;
}
.fixed-table-header {
    overflow-x: auto;
}
/* diy end */
.no-wrap {
    white-space: nowrap;
}
.pagination-bottom {
    overflow: hidden;
}
.nav>li.active {
    background-color: #fff;
}
.nav>li.active>a {
    border-bottom: 1px solid #fff;
}
.fl {
    float: left;
}